* {
  box-sizing: border-box;
}

body {
  background: #635b5b;
  font-family: 'helvetica neue';
}

.drumkit {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  margin-top: 25%;
}

.drum {
  width: 75px;
  height: 75px;
  background: white;
  border: 2px solid #202768;
  text-align: center;
  cursor: pointer;
}
.playing {
  -webkit-box-shadow: 0px 0px 10px 5px rgba(217,207,17,1);
  -moz-box-shadow: 0px 0px 10px 5px rgba(217,207,17,1);
  box-shadow: 0px 0px 10px 5px rgba(217,207,17,1);
}
